body {
  max-width: 1400px;
  margin: 0 auto;
}
// #root {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
.wrapper {
  min-width: 320px;
  padding: 0 10px;
  height: 100vh;
}
