.movielist {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  &__error {
    margin: 0 auto;
    margin-top: 10px;
  }
  &__spin {
    margin: 0 auto;
    margin-top: 30px;
  }

  @media all and (max-width: 1039px) {
    justify-content: center;
  }
}
.pagination {
  display: flex;
  margin: 18px auto;
}
